*{
    margin:0%;
    padding:0%;
    font-family: cursive;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://source.unsplash.com/random) ;
    height: 105vh;
    background-size : cover;
    background-position: center;
    
}
.course h1{
    /* border : 2px solid red; */
    color: white;
    background-color: transparent;
    position :absolute;
    top:3%;
    left: 20px;
    width: 1400px;
    height: 50px;
    padding-bottom: 20px;
    font-size: 50px;
    text-align: center;
    border-radius: 40px;
}
 h1:hover{ 
      background-color:black;
      color: white;
      
} 

.contianer{
    color:white;
      border:5px solid black;
      display:block;
      position:absolute;
      width: 120vh;
      height: 80vh;
      left:200px;
      top:21vh;
}
.header{
    color:white;
    border:5px solid black;
    display:block;
    position:absolute;
    width: 150vh;
    height: 5vh;
    left:200px;
    top:15vh;
}
.header h3{
    padding-top: 5px;
    font-size: 20px;
}
.middle{
    color:white;
    border:5px solid black;
    display:block;
    position:absolute;
    width: 30vh;
    height: 80vh;
    left:144.5vh;
    top:21vh;
}  
.link a{
    text-decoration: none;
    color:white;
}
.link a:hover{
    color: black;
    background-color: white;
    transition: 0.6s;
}
.homebtn{
    color: white;
    background-color: transparent;
    position :absolute;
    top:4%;
    left: 180vh;
    width: 100px;
    height: 45px;
    font-size: 27px;
    text-align: center;
    border-radius: 40px;
    padding-top: 4px;
    
}
.homebtn a{
    text-decoration: none;
    color: white;

}
.homebtn:hover{
    color:black;
    background-color: black;
}
